{% extends "layout.html" %}
{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/user.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock header %}
{% block content %}
<h2 class="mt-4">{{ title }}</h2>
<div class="container">
    <div class="row">
        <div class="col mt-3 mb-3">
            The data was collected on <b>{{ last_sync }}</b> and took {{ duration }} seconds.
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        </div>
</div>
{% endblock content %}
